source https://www.nuget.org/api/v2

nuget Akka
nuget Akka.Cluster
nuget Akka.FSharp
nuget Akka.Remote
nuget Akka.TestKit
nuget Akka.TestKit.Nunit
nuget microsoft.aspnet.signalr.js
nuget Microsoft.AspNet.SignalR.SelfHost
nuget NUnit 2.6.4
nuget System.Collections.Immutable 1.1.36
nuget CommandLineParser
nuget CommonServiceLocator
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core
nuget Microsoft.Owin
nuget Microsoft.Owin.Diagnostics
nuget Microsoft.AspNet.WebApi.Owin
nuget Microsoft.Owin.FileSystems
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Hosting
nuget Microsoft.Owin.SelfHost
nuget Microsoft.Owin.StaticFiles
nuget Owin
nuget Unity
nuget Unity.WebAPI
nuget FsPickler
