<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
        akka {
            suppress-json-serializer-warning = on
            loggers = ["Akka.Event.StandardOutLogger"]
            log-config-on-start = off
            stdout-loglevel = off
            loglevel = DEBUG
            actor {
                provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
                debug {
                #       receive = on
                #       autoreceive = on
                #       lifecycle = on
                #   event-stream = on
                #       unhandled = on
                }
                deployment {
                # zwei lokale Router mit unterschiedlichen Strategien
                    /IncRr {
                        router = round-robin-group
                        routees.paths = ["/user/Inc8081", "/user/Inc8082", "/user/Inc8083", "/user/Inc8084"]
                    }
                    /IncTc {
                        router = tail-chopping-group
                        within = 10s
                        tail-chopping-router.interval = 50ms
                        routees.paths = ["/user/Inc8081", "/user/Inc8082", "/user/Inc8083", "/user/Inc8084"]
                    }
                
                # vier Services auf entfernten Aktor-Systemen
                    /Inc8081 {
                        remote = "akka.tcp://Service@localhost:8081"
                    }
                    /Inc8082 {
                        remote = "akka.tcp://Service@localhost:8082"
                    }
                    /Inc8083 {
                        remote = "akka.tcp://Service@localhost:8083"
                    }
                    /Inc8084 {
                        remote = "akka.tcp://Service@localhost:8084"
                    }
                }

                # fix possibly missing key from "Akka/Configuration/Pigeon.conf"
                router.type-mapping {
                    tail-chopping-group = "Akka.Routing.TailChoppingGroup"
                }

            }
            remote {
                helios.tcp {
                    port = 8000
                    hostname = localhost
                }
            }
        }
      ]]>
    </hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>